# Ignore SQLite database file
# db.sqlite3

# Ignore virtual environment
myvenv/
myvenv_old/
# Ignore media files
media/

.vscode
__pycahe__
*.pyc
.DS_Sore
local_settings.py
.env
.log
._*
_settings.py
_env_vps
_db.sqlite3