{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="card card-profile my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">プロフィール</h5>
        <form method="post">
            {% csrf_token %}
            <table class="profile_table mb-4">
                <tbody>
                    <tr>
                        <th class="header">名前</th>
                        <td class="data form_wrap form_wrap-2">
                            {% render_field form.first_name class='form-control' placeholder='姓' %}
                            {% render_field form.last_name class='form-control' placeholder='名' %}
                        </td>
                    </tr>
                    <tr>
                        <th class="header">ふりがな</th>
                        <td class="data form_wrap form_wrap-2">
                            {% render_field form.first_name_kana class='form-control' placeholder='せい' %}
                            {% render_field form.last_name_kana class='form-control' placeholder='めい' %}
                        </td>
                    </tr>
                    <tr>
                        <th class="header">郵便番号<span class="header__sab">- 無しで入力して下さい</span></th>
                        <td class="data">
                            {% render_field form.postal_code class='form-control' placeholder='例：1234567' %}
                        </td>
                    </tr>
                    <tr>
                        <th class="header">住所1<span class="header__sab">都道府県・市区町村</span></th>
                        <td class="data">
                            {% render_field form.address1 class='form-control' placeholder='例：東京都新宿区' %}
                        </td>
                    </tr>
                    <tr>
                        <th class="header">住所2<span class="header__sab">番地・建物名・部屋番号</span></th>
                        <td class="data">
                            {% render_field form.address2 class='form-control' placeholder='例：1-2-3 メゾン101' %}
                        </td>
                    </tr>
                    <tr>
                        <th class="header">電話番号</th>
                        <td class="data">
                            {% render_field form.tel class='form-control' placeholder='例：09012345678' %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button max-auto">
                <button class="btn btn-lg btn-warning btn-block" type="submit">登録する</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
